.navbar-brand {
  width: 70%;
  text-align: center;
}

.navbar {
  justify-content: left;
}

.nav-item {
  color: white;
  font-family: 'Gotham-Bold';
  margin-left: 5%;
}

button {
  max-width: 15%;
  margin-left: 15px;
}

.title {
  font-family: 'Gotham-Bold';
  text-transform: uppercase;
}

.subtitle {
  font-family: 'Gotham-Book';
  text-transform: uppercase;
  font-size: 10px;
}

.container {
  margin-top: 75px;
}