label {
    font-family: 'Gotham-Bold';
    display: block;
}

input {
    font-family: 'Gotham-Book';
    display: block;
}

button {
    margin-top: 5px;
    color: white;
    font-family: 'Gotham-Bold';
}