h2 {
    font-family: 'Gotham-Bold';
}

.room-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0;
}

button {
    color: white;
    font-family: 'Gotham-Bold';
}