.ranking-item {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0 15px;
    color: white;
    padding-bottom: 1px;
}

.info {
    display: flex;
    direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.title {
    font-family: 'Gotham-Bold';
}

.singer {
    font-family: 'Gotham-Book';
}

.points {
    font-family: 'Gotham-Book';
}

ul {
    padding-left: 0;
}

.flag {
    height: 25px;
    width: 25px;
    margin-right: 5px;
    border-radius: 50%;
}