h2 {
    font-family: 'Gotham-Bold';
}

button {
    font-family: 'Gotham-Book';
    color: white;   
    text-align: center;
    width: 100%;
    margin-top: 15px;
}

.room {
    color: white;
    font-family: 'Gotham-Bold';
    margin: 5px 10px;
    padding: 5px;
    text-align: center;
}