@import "~bootstrap/dist/css/bootstrap.css";

@font-face {
    font-family: 'Gotham-Bold';
    src: url('./assets/fonts/Gotham\ Bold/Gotham\ Bold.otf') format("truetype");
}

@font-face {
    font-family: 'Gotham-Book';
    src: url('./assets/fonts/Gotham\ Book/Gotham\ Book.otf') format("truetype");
}

.background {
    background-color: #030b27;
}

.logo {
    height: 25px;
}

.animated-background {
    background: linear-gradient(330deg, #04043a, #3b2b96, #4b74ee);
}

.eliminated {
    background-color: #9dc5c3;
    background-image: linear-gradient(315deg, #9dc5c3 0%, #5e5c5c 74%) !important;
}
